/* Header CSS */
.nav {
    width: 100vw;
    /* Ensures full width */
    position: fixed;
    /* Keeps it fixed on top */
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    /* Adjust as needed */
    z-index: 1000;
    /* Ensures it's above other elements */
}

.header_section {
    width: 100%;
    /* Ensures the content stretches */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.navbar {
    width: 100%;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.nav-item {
    flex: 1;
    text-align: center;
    color: black;
    text-decoration: none;
    display: flex;
    padding: 18px;
    border-radius: 15px;
    margin: 0 5px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    white-space: nowrap;
}


.collapse navbar-collapse {
    max-height: 10;
    overflow: hidden;
    transition: max-height 0.3s ease;
    display: flex;
}