.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.loginScreen {
    padding: 20px;
    border-radius: 5px;
    width: 75px;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.form-label {
    color: aliceblue;
    font-size: 22px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}


.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper input {
    width: 100%;
    padding-right: 50px;
    /* space for the icon */
}

.password-container {
    position: relative;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.password-container {
    position: relative;
    padding: 0;
    /* remove large paddings */
}

.password-container input {
    width: 100%;
    padding-right: 40px;
    /* make space for the icon inside the field */
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.error-text {
    color: red;
    font-size: 22px;
    margin-top: 4px;
}