@import 'https://fonts.googleapis.com/css?family=VT323';

.container404 {
    width: 90%;
    margin: auto;
    max-width: 640px;
    color: greenyellow;
    margin-top: 150px;
}

.bsod {
    padding-top: 10%;
    background-color: rgb(71, 27, 175);
}

.bsod .neg {
    text-align: center;
    color: #04a76b;
}

.bsod .neg .bg {
    background: #9579f8;
    padding: 0 15px 2px 13px;
    font-size: 80px;
}

.bsod .title {
    margin-bottom: 50px;
}

.bsod .back {
    margin-top: 35px;
    text-align: center;
}

.bsod .back .link {
    text-decoration: none;
    padding: 0 9px 2px 8px;
    margin: auto;
    font-size: 30px;
    text-align: center;
    color: chartreuse;
}

.bsod .back .link:hover,
.bsod .back .link:focus {
    background: #aaaaaa;
    color: #0414a7;
    text-align: center;
}